# Python (Backend)
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.db
*.sqlite3

# Angular (Frontend)
node_modules/
.angular/
dist/
tmp/
out/
.sass-cache/
connect.lock
coverage/
.vscode/
.idea/

# Operációs rendszer fájlok
.DS_Store
Thumbs.db

# Felhasználó által kért korlátozás (Média fájlok)
src/assets/images/
backend/static/images/