node_modules/
dist/
.angular/
.sass-cache/
coverage/
tmp/
out/

venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class

.env
*.db
*.sqlite3
*.log

.idea/
.vscode/
.DS_Store
Thumbs.db

src/assets/images/*
!src/assets/images/.gitkeep
backend/static/images/*
!backend/static/images/.gitkeep