<footer class="main-footer">
  <div class="footer-content">
    
    <div class="footer-column brand">
      <h3>BEKKA PILATES</h3>
      <p>Várlak szeretettel az óráimon!</p>
      <div class="social-links-contact">
        <a href="https://instagram.com/bekka_pilates/" target="_blank" class="social-btn insta">Instagram</a>
        <a href="https://www.facebook.com/profile.php?id=61564555059640" target="_blank" class="social-btn fb">Facebook</a>
      </div>
    </div>

    <div class="footer-column links">
      <h4>Felfedezés</h4>
      <a routerLink="/">Főoldal</a>
      <a routerLink="/book">Időpont foglalás</a>
      <a routerLink="/pricing">Árak és Bérletek</a>
    </div>

    <div class="footer-column contact">
      <h4>Kapcsolat</h4>
      <p>✉️ szefirebi&#64;gmail.com</p>
      <p>📞 +36 20 808 2090</p>
    </div>

  </div>

  <div class="footer-bottom">
    <div class="legal-links">
      <a routerLink="/aszf">ÁSZF</a>
      <span class="divider">|</span>
      <a routerLink="/adatvedelem">Adatvédelmi Tájékoztató</a>
    </div>
    <p>&copy; {{ currentYear }} Bekka Pilates. Minden jog fenntartva.</p>
  </div>
</footer>