<div class="modal-backdrop" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closeModal()">&times;</button>
    
    <div class="modal-header">
      <h2 [class.active]="isLoginMode" (click)="!isLoginMode && toggleMode()">Bejelentkezés</h2>
      <h2 [class.active]="!isLoginMode" (click)="isLoginMode && toggleMode()">Regisztráció</h2>
    </div>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      @if (!isLoginMode) {
        <div class="form-group">
          <label for="name">Teljes név</label>
          <input id="name" type="text" formControlName="name">
        </div>
      }

      <div class="form-group">
      
      @if (successMessage) {
        <div class="feedback-msg success">
          {{ successMessage }}
        </div>
      }

      @if (errorMessage) {
        <div class="feedback-msg error">
          {{ errorMessage }}
        </div>
      }

        <label for="email">Email cím</label>
        <input id="email" type="email" formControlName="email">
      </div>

      @if (!isLoginMode) {
        <div class="form-group">
          <label for="phone">Telefonszám (opcionális)</label>
          <input id="phone" type="text" formControlName="phone">
        </div>
      }

      <div class="form-group">
        <label for="password">Jelszó</label>
        <input id="password" type="password" formControlName="password" placeholder="******">
      </div>
      @if (!isLoginMode) {
      <div class="form-group">
          <label>Jelszó megerősítése</label>
          <input type="password" formControlName="passwordConfirm" placeholder="******">
          
          @if (authForm.get('passwordConfirm')?.hasError('mismatch') && authForm.get('passwordConfirm')?.touched) {
            <small class="error-text">A két jelszó nem egyezik meg!</small>
          }
        </div>
        
        <div class="form-group terms-group">
          <label class="checkbox-container">
            <input type="checkbox" formControlName="acceptTerms">
            <span>
              Elfogadom az <a routerLink="/aszf" target="_blank" (click)="$event.stopPropagation(); closeModal()">Általános Szerződési Feltételeket</a> és az <a routerLink="/adatvedelem" target="_blank" (click)="$event.stopPropagation(); closeModal()">Adatvédelmi tájékoztatót</a>.
            </span>
          </label>
        </div>
      }

      @if (errorMessage) {
        <div class="error-message">{{ errorMessage }}</div>
      }

      <button type="submit" [disabled]="authForm.invalid" class="submit-btn">
        {{ isLoginMode ? 'Belépés' : 'Regisztráció' }}
      </button>
    </form>
  </div>
</div>